/.DS_Store
/.ipynb_checkpoints
/1 Excel готовим лист с подписями на электрощит.xlsx
/11cebc4e-14f1-46c2-9bf6-e247190016effinalproject.sql.sql
/1a966243-f1bc-4a60-a4aa-c32338171760Оптитування ДЗ (1).xlsx
/2026-03-21 09.46.07.jpg
/3d-render-abstract-flow-with-particle-wave-design.jpg
/48cdc359-1666-48a8-b14d-ef6f66cfa60eЗнімок екрана 2025-11-21 о 22.02.49 (1).png
/48cdc359-1666-48a8-b14d-ef6f66cfa60eЗнімок екрана 2025-11-21 о 22.02.49 (2).png
/48cdc359-1666-48a8-b14d-ef6f66cfa60eЗнімок екрана 2025-11-21 о 22.02.49.png
/4cf349a0-c177-4ad0-85e2-7031f82878ecOleksandr_Horobinskyi_Data_Analyst.pdf
/5045b73a-ed0c-4d31-8829-039b8e1324d41a966243-f1bc-4a60-a4aa-c32338171760Оптитування ДЗ (1) (1).xlsx
/5045b73a-ed0c-4d31-8829-039b8e1324d41a966243-f1bc-4a60-a4aa-c32338171760Оптитування ДЗ (1).xlsx
/55f8a646-8504-4479-9105-4872d3549888Oleksandr_Horobinskyi_Data_Analyst.pdf
/65fc42b1-61bb-4c36-9038-c2eb9422e697SQL dz2 Horobynskij corect.sql
/76b33642-1ac8-4526-b11b-d33209274c7bSQL dz2 Horobynskij.sql
/AB test GOIT
/Anaconda3-2025.12-1-MacOSX-arm64.pkg
/Beige & Black Geometric Technology LinkedIn Banner
/Beige & Black Geometric Technology LinkedIn Banner.zip
/Claude.dmg
/Cursor-darwin-arm64.dmg
/Cursor-darwin-universal.dmg
/DBeaver Community
/DtDnIIXufsZ_Qn_6srnJxqQNzTExb0NV-1763125008.pdf
/Explanation.xlsx
/Firefly_GeminiFlash_Data pipeline visualization, glowing blue data streams flowing between _databases and 637320.png
/Gemini_Generated_Image_37e4f737e4f737e4.png
/Gemini_Generated_Image_398enh398enh398e.png
/Gemini_Generated_Image_4iw0o14iw0o14iw0.png
/Gemini_Generated_Image_ccrrnyccrrnyccrr.png
/Gemini_Generated_Image_cyx8l3cyx8l3cyx8.png
/Gemini_Generated_Image_d3m5gad3m5gad3m5.png
/Gemini_Generated_Image_dl5zwidl5zwidl5z.png
/Gemini_Generated_Image_f4wqa8f4wqa8f4wq.png
/Gemini_Generated_Image_g69iekg69iekg69i.png
/Gemini_Generated_Image_lersnylersnylers.png
/Gemini_Generated_Image_odo6pxodo6pxodo6.png
/Gemini_Generated_Image_p4f4f1p4f4f1p4f4.png
/Gemini_Generated_Image_q6jmfoq6jmfoq6jm.png
/Gemini_Generated_Image_ss05l7ss05l7ss05.png
/Gemini_Generated_Image_xhemd8xhemd8xhem.png
/GitHub
/Grammarly.o1.cTlJgee1heziahvriemu0380.dmg
/HW_5-6_шаблон.sql
/HW_5_шаблон (1).sql
/HW_5_шаблон.sql
/Home work1 Horob (1).docx
/Horobinskyi_Oleksandr_Data_Analyst.pdf
/Lesser_Coat_of_Arms_of_Ukraine.svg.webp
/Maven+Fuzzy+Factory (1).zip
/Oleksandr_Horobinskyi_Data_Analyst копія.pdf
/Oleksandr_Horobinskyi_Data_Analyst.pdf
/Project_Horobinskij - Data.csv
/Project_Horobinskij.csv
/PyCharm
/PyCharm псевдонім
/PyCharm псевдонім 10
/PyCharm псевдонім 11
/PyCharm псевдонім 12
/PyCharm псевдонім 13
/PyCharm псевдонім 14
/PyCharm псевдонім 2
/PyCharm псевдонім 3
/PyCharm псевдонім 4
/PyCharm псевдонім 5
/PyCharm псевдонім 6
/PyCharm псевдонім 7
/PyCharm псевдонім 8
/PyCharm псевдонім 9
/RESUME
/REZUME-20260226T195955Z-1-001.zip
/Rainbow Gradient Pink Orange and Blue Zoom Virtual Background.png
/ResumeHorobinskyiOleksandr.pdf (3).pdf
/SQL FUNCTION.docx
/SQL FUNCTION.txt
/Slack-4.47.59-macOS.dmg
/StudentsPerformance.csv
/Tableau Public
/TableauPublic-2025-2-4.dmg
/TinderBolt-v3
/TinderBolt-v3 (1).zip
/TinderBolt-v3.zip
/Unpivot Table.csv
/Untitled-1.ipynb
/Untitled-2.ipynb
/Untitled-3.ipynb
/Untitled4.ipynb
/VSCode-darwin-universal.dmg
/ab_test_analysis1111.ipynb
/ab_test_presentation!!!.pdf
/abstract-geometric-modern-wireframe-background
/abstract-geometric-modern-wireframe-background.zip
/applications(2.0).csv
/archive.zip
/bq-results-20251117-135122-1763387555418.csv
/bq-results-20251119-084048-1763541661080-20251119T084208Z-1-001.zip
/c5def1d5-aac3-4be9-9a60-f3b0375b613aHorobinskyi_Oleksandr_Data_Analyst.pdf
/cards_data.csv
/cards_ex.ipynb
/cc10fc37-4f17-4816-8dc4-5ad8ce8551f3Оптитування ДЗ - Ответы на форму (1) (1).csv
/create_inertia_presentation.py
/d001c596-0ff2-4ae9-b80f-7398367f17e0ab_test_presentation.pdf
/d9d2f966-82cc-4aec-a621-ec64aeefaa52Horobynskiy Oleksandr sql1.sql
/data_pipeline.ipynb
/dataset_test Mornhouse – копія - dataset_purchases.csv
/dataset_test Mornhouse –Test - User_revenu_trial.csv
/dataset_test Mornhouse –Test - Пояснення_методів (1).csv
/dataset_test Mornhouse –Test - Пояснення_методів.csv
/dbeaver-ce-25.2.5-macos-x86_64.dmg
/dbeaver-ce-25.3.0-macos-aarch64.dmg
/facebook_ads_data (2.0) копія.csv
/games(2.0.).csv
/games_paid_users (2.0).csv
/games_payments (2.0).csv
/gis_data_visualization.ipynb
/gradient-abstract-wireframe-background
/gradient-abstract-wireframe-background.zip
/industries(2.0).csv
/labels_12_columns.docx
/last_example.ipynb
/movies_1960_2000_clean.csv
/netflix_titles - Sheet1.csv
/netflix_titles.xlsx
/new_ex.ipynb
/plots.ipynb
/plots_2.ipynb
/python_fundamentals.ipynb
/result (1).xlsx
/result.xlsx
/sales.csv
/shablon-klev-club-2x29-p-shabloni-dlya-nadpisi-na-avtomati-v-shchit-6 (1).jpg
/shablon-klev-club-2x29-p-shabloni-dlya-nadpisi-na-avtomati-v-shchit-6.jpg
/shablon-klev-club-2xkz-p-shabloni-dlya-nadpisi-na-avtomati-v-shchit-7.jpg
/sns (1).ipynb
/sns.ipynb
/sql_functions (1).txt
/sql_functions.txt
/stack-overflow-developer-survey-2025
/stack-overflow-developer-survey-2025.zip
/table.csv
/user_games.csv
/users_data.csv
/vitrata_domashne.csv - vitrata_domashne (5) (1).csv
/vitrata_domashne.csv - vitrata_domashne (5).csv
/Ідеї можливих досягнень.pdf
/Горобинський2.ipynb
/Горобинський_ДЗ2 - Pivot Table 2.csv
/Горобинський_ДЗ2 - vitrata_domashne.csv
/Копія записника _json_task.ipynb
/Копія_записника11111_ipynb_.ipynb
/Копія_записника__json_task_ipynb_ (1).ipynb
/Копія_записника__json_task_ipynb_.ipynb
/Наклейки Новый проект.png
/Оптитування ДЗ (1).xlsx
/Оптитування ДЗ - Ответы на форму (1) (1).csv
/Оптитування ДЗ - Ответы на форму (1).csv
/Оптитування ДЗ.xlsx
/Технічне завдання CPA Dashboard – KIM Affiliates.docx
/Фото ділове.png
/Фто не ділове.png
/ласкаво_просимо_до_colab.py
/метрики тестове.docx